/*@charset "utf-8";*/

*{
    margin:0;
    padding:0;
    font-size:12px;
}/*清页面格式*/

body{
    background-color:#f5f5f5;
}
.top{
    width:100%;
    height:27px;
    background:url("../images/top_bg.jpg") repeat-x;
}
.top_content{
    width:1000px;
    margin:0 auto;/*上下间距0，左右间距自动居中*/
}
.top_content li{
   /* list-style-type: none; 清除li黑点*/
    list-style: none;
   /* list-style-image:none;*/
    float:right; /*列表变成一行靠右*/
    line-height:27px;/*文字垂直方向居中*/
    width:70px;
}
.top_content a:link,.top_content a:visited{
    color:#8e8e8e;
    text-decoration:none;
}
.top_content a:hover,.top_content a:active{
    color:#900;
    text-decoration:none;
}

.wrap{
    width:1000px;
    margin:0 auto;
    /*background-color: #666666;*/
}
.logo{
    height:90px;
    background-color:#fff;
}
.logo_left{
    width:200px;
    float:left;
}
.logo_right{
    width:400px;
    float:right;
    height:30px;
    margin-top:30px;

}
.logo_right_text{
    margin-top:2px;
    float:left;

}
.bar_input{
    background: url("../images/s1.jpg") no-repeat right;
    height:20px;
    width:260px;
    float:left;
    margin-left:2px;
}
.nav{
    height:40px;
    background-color:#0099ff;
}
.nav_left{
    width:10px;
}
.nav_mid{
    width:900px;
    height:40px;
   /* background:url(../images/bg.jpg)no-repeat;*/
    float:left;
}


.nav_mid li{
    float:left;
    list-style-type: none;
    width:150px;
    text-align: center;
    line-height:40px;
}
.nav a:link,.nav a:visited{
    text-decoration: none;
    color:#fff;
    font-size:16px;
    font-family: 微软雅黑;
}
.nav a:hover,.nav a:active{
    text-decoration: none;
    color:#ff0;
    font-size:16px;
    font-family: 微软雅黑;
}
.slider{
    height:310px;
    overflow: hidden;
}
.slider li{
    list-style-type: none;
}
.main{
    height:250px;
   /* background-color:#f6f;*/
    margin-top: 5px;
}
.news{
    width:340px;
    border:1px solid #e8e8e8;
    /*background-color: #9fc;*/
}
.course{
    width:410px;
    border:1px solid #e8e8e8;
   /* background-color: #9fc;*/
    margin:0 7px; /*上下间距0，左右7像素 1000-340-250-230=20,边框1*6，（20-6）/2=7*/
}
.party{
    width:230px;
    border:1px solid #e8e8e8;
   /* background-color: #9fc;*/
}
.news,.course,.party{
    height:250px;
    float:left;
}
.title{
    height:35px;
    border-bottom: 2px solid #e8e8e8;
}
.title_left{
    width:70%;
    font-family: 微软雅黑;
    font-size:14px;
    font-weight:bold;
    color:#786f66;
    float: left;
    line-height:35px; /*垂直居中,与上级盒子高度相同*/
    padding-left: 20px;
}
.title_right{
    width:20%;
    float: right;
    line-height: 35px;
    text-align: right;
    padding-right: 10px;
}
.title_right a{
    text-decoration: none;
    color:#999999;
}
.news_list{
    margin-top:20px;
}
.news_list li{
    list-style-type: none;
    background:url(../images/list.jpg) no-repeat;
    padding-left:10px;
    margin:8px;
    border-bottom:1px dotted #ccc;
}
.news_list a:link, .news_list a:visited{
    text-decoration:none;
    color:#000;
}
.news_list a:hover,.news_list a:active{
    text-decoration: none;
    color:#f00;
}
.news_list span{
    color:#999;
    float:right;
}
.pic_news,{
    height:80px;
    margin-top:10px;
    line-height:22px;

}
.pic_news img,.course_pic img{
    float:left;
    margin:0 5px;
}
.pic_news a,.course_pic a{
    color:#c00;/*cc0000简写形式*/
    text-decoration:none;
}
.course_pic{
    height:120px;
    margin-top:10px
}
.course_type{
    height:37px;
    width:372px;
    background:url(../images/product_type_bg.jpg) no-repeat;
    margin:20px auto;
}
.course_type li{
    list-style-type:none;
    float:left;
    line-height:37px;
    margin:0 15px;
    text-align:center;
}

.copyright{
    width:100%;
    height:200px;
    background-color: #e8e8e8;
    margin-top: 10px;
}
.copyright_content{
    width:1000px;
    margin:0 auto;
    padding-top: 20px;
}
.copyright_content li{
    list-style-type: none;
    float:left;
    width:200px;
    background: url(../images/line.png)no-repeat right center;
    text-align: center;
    line-height:30px;
    font-family: 微软雅黑;
}
.copyright_content a{
    text-decoration: none;
    color:#999;
    font-size:18px
}
.copyright_content li ul li a{
    font-size: 14px;
}